<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

#{extends 'main.html' /}
#{set title:'Project page' /}
<body>
<h1>Project № ${project.id}</h1>

#{if error}
<div class="alert alert-danger" role="alert">
${error}
</div>
#{/if}


<h2>Adding a new order for this project:</h2>
<form method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" name = 'count' placeholder="Detail count">
        <select name = 'detail_id' class="form-control" id="exampleFormControlSelect1">
            <option value = selected>---</option>
        #{list items:details, as:'detailIter'}
            <option value = ${detailIter.id} >${detailIter.type.name} | ${detailIter.name} | ${detailIter.cost}</option>
        #{/list}
        </select>
        <!--
        <input type="text" class="form-control" id="exampleFormControlInput4" name = 'count' placeholder="Count">

        <select name = 'type' class="form-control" id="exampleFormControlSelect1">
        #{list items:types, as:'type'}
            <option value = ${type.id} >${type.name}</option>
        #{/list}
        </select>
        -->
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-dark">Добавить</button>
        </div>
    </div>
</form>

<h2>Project info:</h2>
<h4>Client: #{if project.client}${project.client.firstName} ${project.client.lastName}#{/if}  #{else }Deleted Client#{/else}</h4>
<h4>Manager: #{if project.manager}${project.manager.firstName} ${project.manager.lastName}#{/if}  #{else }Deleted Manager#{/else}</h4>
<h4>Engineer: #{if project.engineer}${project.engineer.firstName} ${project.engineer.lastName}#{/if}  #{else }Deleted Engineer#{/else}</h4>
<h4>Start date: ${project.workBegin}</h4>
<h4>End date: #{if project.workEnd}${project.workEnd}#{/if} #{else }Not finished#{/else}</h4>
<h4>Work cost: ${project.workCost}</h4>

<hr>

<h2>Detail orders:</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Detail</th>
        <th scope="col">Description</th>
        <th scope="col">Count</th>
        <th scope="col">Detail cost</th>
        <th scope="col">Sum</th>

    </tr>
    </thead>

    <tbody>
    #{if orders}
        #{list items:orders, as:'order'}
        <tr>
            <td>${order.detail.name}</td>
            <td>${order.detail.description}</td>
            <td>${order.count}</td>
            <td>${order.detail.cost}</td>
            <td>${order.detail.cost * order.count}</td>

        </tr>
        #{/list}
    #{/if}
    </tbody>
</table>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>