<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Details list</title>
</head>

#{extends 'main.html' /}
#{set title:'Details' /}

<body>
    <div align="center"><a href =/>Index</a> </div>

    <h1>Details list</h1>
    #{if error}
        <div class="alert alert-primary" role="alert">
            ${error}
        </div>
    #{/if}

    <h3>Want to remove a detail?</h3>
    <form method="post" action="deleteDetail">
        <div class="form-group">
            <select name = 'id' class="form-control" id="exampleFormControlSelect1">
                <option value = selected>---</option>
            #{list items:resultList, as:'detailIter'}
                <option value = ${detailIter.id} >${detailIter.type.name} | ${detailIter.name} | ${detailIter.cost}</option>
            #{/list}
            </select>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </form>

    <h3>Want to add a detail?</h3>
    <form method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput1" name = 'name' placeholder="Name">
            <input type="text" class="form-control" id="exampleFormControlInput2" name = 'description' placeholder="Description">
            <input type="text" class="form-control" id="exampleFormControlInput3" name = 'cost' placeholder="Cost">
            <input type="text" class="form-control" id="exampleFormControlInput4" name = 'count' placeholder="Count">
            <select name = 'type' class="form-control" id="exampleFormControlSelect1">
            #{list items:types, as:'type'}
                <option value = ${type.id} >${type.name}</option>
            #{/list}
            </select>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>

    <div class="details_list">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Detail's type</th>
                <th scope="col">Detail's cost</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>

            </tr>
            </thead>
            <tbody>
            #{if resultList}
                #{list items:resultList, as:'detail'}
                <tr>
                    *{<td>${project.id}</td>}*
                    <td>${detail.type.name}</td>
                    <td>${detail.cost}</td>
                    <td>${detail.name}</td>
                    <td>${detail.description}</td>
                    <td>${detail.count}</td>

                </tr>
                #{/list}
            #{/if}

            </tbody>
        </table>
    </div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>