<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

#{extends 'main.html' /}
#{set title:'Employees' /}

<body>
<h1>Employees management</h1>

#{if error}
<div class="alert alert-primary" role="alert">
${error}
</div>
#{/if}

<h3>Want to remove an employee?</h3>
<form method="post" action="deleteEmployee">
    <div class="form-group">
        <select name = 'id' class="form-control" id="exampleFormControlSelect1">
            <option value = selected>---</option>
        #{list items:employees, as:'employeeIter'}
            <option value = ${employeeIter.id} >${employeeIter.firstName} ${employeeIter.lastName}</option>
        #{/list}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Удалить</button>
        </div>
    </div>
</form>


<h3>Want to add an employee?</h3>
<form method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" name = 'firstName' placeholder="First name">
        <input type="text" class="form-control" id="exampleFormControlInput5" name = 'lastName' placeholder="Last name">
        <input type="text" class="form-control" id="exampleFormControlInput2" name = 'phoneNumber' placeholder="Phone number">
        <input type="text" class="form-control" id="exampleFormControlInput3" name = 'email' placeholder="E-mail">
        <input type="text" class="form-control" id="exampleFormControlInput4" name = 'salary' placeholder="Salary">
        <input type="text" class="form-control" id="exampleFormControlInput6" name = 'bonusPercent' placeholder="Bonus percent">

        <select name = 'position' class="form-control" id="exampleFormControlSelect1">
            <option value = "engineer" >Engineer</option>
            <option value = "manager" >Manager</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Добавить</button>
        </div>
    </div>
</form>


<div class="employees-salaries">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Bonus</th>
        </tr>
        </thead>
        <tbody>
        #{if employees}

            #{list items:employees, as:'employee'}
            <tr>
                <td>${employee.firstName}</td>
                <td>${employee.lastName}</td>
                <td>${employee.position}</td>
                <td>${employee.salary}</td>
                <td>${employee.bonusPercent}</td>
            </tr>

            #{/list}

        #{/if}

        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>