<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

#{extends 'main.html' /}
#{set title:'All projects' /}
<body>

#{if error}
<div class="alert alert-primary" role="alert">
${error}
</div>
#{/if}


<h1>All projects</h1>

<h3>Want to add a project?</h3>
<form method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" name = 'workCost' placeholder="Work Cost">
        <input type="date" class="form-control" id="exampleFormControlInput2" name = 'workBegin' placeholder="Work Begin">
        <input type="date" class="form-control" id="exampleFormControlInput3" name = 'workEnd' placeholder="Work End">

        <select name = 'isGuaranteed' class="form-control" id="exampleFormControlSelect1">
            <option value = true>Is guaranteed</option>
            <option value = false>Is not guaranteed</option>
        </select>

        <label for="exampleFormControlSelect2">Trouble:</label><select name = 'trouble_id' class="form-control" id="exampleFormControlSelect2">
        #{list items:troubles, as:'trouble'}
            <option value = ${trouble.id} >${trouble.name}</option>
        #{/list}
        </select>

        <input type="text" class="form-control" id="exampleFormControlInput4" name = 'description' placeholder="trouble description">

        <label for="exampleFormControlSelect3">Client:</label><select name = 'client_id' class="form-control" id="exampleFormControlSelect3">
        #{list items:clients, as:'client'}
            <option value = ${client.id} >${client.firstName} ${client.lastName}</option>
        #{/list}
        </select>

        <label for="exampleFormControlSelect4">Manager:</label><select name = 'manager_id' class="form-control" id="exampleFormControlSelect4">
        #{list items:managers, as:'manager'}
            <option value = ${manager.id} >${manager.firstName} ${manager.lastName}</option>
        #{/list}
        </select>

        <label for="exampleFormControlSelect5">Engineer:</label><select name = 'engineer_id' class="form-control" id="exampleFormControlSelect5">
        #{list items:engineers, as:'engineer'}
            <option value = ${engineer.id} >${engineer.firstName} ${engineer.lastName}</option>
        #{/list}
        </select>

        <label for="exampleFormControlSelect6">Type:</label><select name = 'type' class="form-control" id="exampleFormControlSelect6">
            <option value = false>Building</option>
            <option value = true>Fixing</option>
        </select>


    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </div>
</form>


<h3>Want to remove a project?</h3>
<form method="post" action="deleteProject">
    <div class="form-group">
        <select name = 'id' class="form-control" id="exampleFormControlSelect1">
            <option value = selected>---</option>
            #{list items:projects, as:'projectIter'}
                <option value = ${projectIter[0].id} >
                #{if projectIter[0].client}Client: ${projectIter[0].client.firstName} ${projectIter[0].client.lastName}#{/if}  #{else }Deleted Client#{/else}; Start: ${projectIter[0].workBegin}; End: ${projectIter[0].workEnd}s
                </option>
            #{/list}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</form>

<div class="projects">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Detail cost</th>
            <th scope="col">Work cost</th>
            <th scope="col">Сost</th>
            <th scope="col">Start of work</th>
            <th scope="col">End of work</th>
            <th scope="col">Is guaranteed</th>
            <th scope="col">Trouble description</th>
            <th scope="col">Type</th>
            <th scope="col">Client name</th>

        </tr>
        </thead>
        <tbody>
        #{if projects}

            #{list items:projects, as:'project'}
            <tr>
                <td><a href=/allprojects/${project[0].id}>${project[0].id}</a></td>
                <td>${project[0].detailCost}</td>
                <td>${project[0].workCost}</td>
                <td>${project[3]}</td>
                <td>${project[0].workBegin}</td>
                <td>${project[0].workEnd}</td>
                #{if project[0].isGuaranteed}
                    <td>Yes</td>
                #{/if}
                #{else }
                    <td>No</td>
                #{/else}
                #{if project[0].troubleDescription == null}
                    <td>-</td>
                #{/if}
                #{else }
                    <th scope="col">${project[0].troubleDescription}</th>
                #{/else}
                #{if project[0].type == false}
                    <td>Build</td>
                #{/if}
                #{else }
                    <td>Repair</td>
                #{/else}

                #{if project[2]}
                    <td>${project[0].client.firstName} ${project[0].client.lastName}</td>
                #{/if}
                #{else }
                    <td>Client is deleted</td>
                #{/else}


            </tr>
            #{/list}
        #{/if}

        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>